.mensaje__btn-encriptar{
    background: #0A3871;
    width: 343px;
    height: 67px;
    border-radius: 24px;
    color: #ffff;
    font-family: inter;
    font-size: 16px;
    margin-bottom: 1.1875rem;
}